<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Air Quality Index</title>
    <link rel="stylesheet" href="./static/style.css">
</head>
<body>
    <header>
        <nav>
            <ul class="menu-left">
                <li><a href="">Air Quality Index Project</a></li>
                <li><a href="#home">Home</a></li>
                <li><a href="#About">About</a></li>
            </ul>
            <ul class="menu-right">
                <li><a href="/project" class="btn">Go to Project</a></li>
            </ul>
        </nav>
    </header>
    <main id="home">
        <section class="hero">
            <h1>Welcome to the Air Quality Index Project</h1>
            <p>Monitor the air quality in your area with real-time data.</p>
            <a href="/project" class="btn">Get Started</a>
        </section>
    </main>
<br><br>
    <Section id="About">
        <h1 style="text-align: center; font-weight:bold; font-size: 40px;color:white; background-color:#007BFF">What is AirNow?</h1><br><br>
        <p>AirNow is your one-stop source for air quality data. Our website and app highlights air quality in your local area first, while still providing air quality information at state, national, and world views. AirNow’s interactive map even lets you zoom out to get the big picture or drill down to see data for a single air quality monitor. AirNow’s Fire and Smoke map, a collaborative project with the US Forest Service, uses a variety of products including low-cost sensors to provide detailed, up-to-date information that can be critical to users experiencing smoke events.</p><br>
        <p>AirNow reports air quality using the official U.S. Air Quality Index (AQI), a color-coded index designed to communicate whether air quality is healthy or unhealthy for you. When you know the AQI in your area, you can take steps to protect your health.</p><br>
        <p>AirNow is a partnership of the U.S. Environmental Protection Agency, National Oceanic and Atmospheric Administration (NOAA), National Park Service, NASA, Centers for Disease Control, and tribal, state, and local air quality agencies. Complete list of AirNow partners. Agencies all over the country send their monitoring data to AirNow for display. The Department of State provides data from U.S. Embassies and Consulates to inform personnel and citizens overseas, and the U.S. Forest Service and NOAA provide fire and smoke data.</p><br>
        <p>AirNow's centralized data system provides quality control, national reporting consistency, and the ability to distribute data to the public, researchers, businesses, educators, and to other data systems. In AirNow, you’ll find:</p><br>
        <ul>
            <li>Current and forecast air quality maps and data for more than 500 cities across the U.S.</li>
            <li>Current and historical data for U.S. Embassies and Consulates around the world</li>
            <li>Current fire conditions including fire locations, smoke plumes, and air quality data from permanent and temporary air quality monitors</li>
            <li>Air quality data for Canada and Mexico</li>
            <li>Enviroflash emails</li>
            <li>Apps, widgets, and an API</li>
            <li>Health and air quality information for:- <br><br>
                <li class="nested-li">the public</li>
                <li class="nested-li">healthcare professionals</li>
                <li class="nested-li">teachers and students</li>
                <li class="nested-li">weathercasters</li>
            </li>
        </ul>
    </Section>

    <section class="content">
        <h2>Air Quality Across India's Cities</h2>
        <div class="images">
            <img src="static\images\map.jpg" alt="Air Quality Map of India" class="map-image" style="width: 500px; height:500px;">
            <img src="static\images\indexchart.jpg" alt="Air Quality Index Chart" class="chart-image" style="width: 600px; height:500px;">
        </div>
    </section>
    <footer>
        <p>&copy; 2024 Air Quality Index Project. All rights reserved.</p>
    </footer>
</body>
</html>
