* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    position:relative;
}

body::before{
    content: '';
    background-image: url('static\images\backgound.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}
header {
    background-color: rgb(21, 21, 219);
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

ul {
    list-style: none;
    display: flex;
}

ul.menu-left {
    display: flex;
    align-items: center;
}

ul.menu-left li {
    margin-right: 1rem;
}

ul.menu-left li a,
ul.menu-right li a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: block;
}

ul.menu-right li a.btn {
    background-color: white;
    color: #007BFF;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

ul.menu-right li a.btn:hover {
    background-color: white;
}

.hero {
    text-align: center;
    padding: 5rem 1rem;
    background: #007BFF;
    color: white;
}

.hero img {
    width: 900px;
    height: 400px;
    margin-bottom: 2rem;
}

.hero h1 {
    margin-bottom: 1rem;
    font-size: 3rem;
}

.hero p {
    margin-bottom: 2rem;
    font-size: 1.25rem;
}

.hero .btn {
    text-align: center;
    background-color: white;
    color: #007BFF;
    padding: 0.75rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.hero .btn:hover {
    background-color: #f0f0f0;
}

.content {
    text-align: center;
    padding: 2rem 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.content h2 {
    margin-bottom: 1rem;
    font-size: 2rem;
}

.images {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}

.images img {
    max-width: 100%;
    height: auto;
}

.map-image {
    order: 1;
}

.chart-image {
    order: 2;
}

footer {
    text-align: center;
    padding: 1rem 0;
    background-color: rgb(21, 21, 219);
    color: white;
    margin-top: 2rem;
}

main li {
    font-size: 24px;
    color: whitesmoke;
}
#About{
    margin: auto;
    padding: 0 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
#About ul{
    display: inline;
    list-style-type: disc;
    color: black;
    padding: 0 20px;
}
#About li{
    color: black;
}
.nested-li{
    list-style-type: circle;
}
